return {
  "neovim/nvim-lspconfig",
  opts = function(_, opts)
    opts.servers = opts.servers or {}
    opts.servers.gopls = {
      filetypes = { "go", "gomod", "gowork", "gotmpl" },
{{ if eq .chezmoi.hostname "COMP-G4THKNYXXN" }}
      cmd = { "dd-gopls" },
      cmd_env = { GOPLS_DISABLE_MODULE_LOADS = "1" },
{{ end }}
      settings = {
        gopls = {
          ["ui.inlayhint.hints"] = {
            compositeLiteralFields = true,
            constantValues = true,
            parameterNames = true,
            functionTypeParameters = true,
          },
          ui = {
            codelenses = {
              generate = false,
              test = false,
              tidy = false,
              upgrade_dependency = false,
              vendor = false,
            },
            completion = {
              usePlaceholders = true,
            },
          },
          build = {
            directoryFilters = {
              "-**/bazel-bin",
              "-**/bazel-dd-source",
              "-**/bazel-out",
              "-**/bazel-testlogs",
            },
          },
          analyses = {
            unusedparams = true,
            unreachable = true,
          },
          staticcheck = true,
          gofumpt = true,
        },
      },
    }
  end,
}
