# =========================
#   Base Fish Settings
# =========================
set fish_greeting
set -g fish_key_bindings fish_vi_key_bindings
set -U fish_color_command green --bold

if status is-interactive
    # Interactive commands here
end


# =========================
#   Global Tools (Always)
# =========================

alias c='clear'
alias v='nvim'
alias z='zoxide'

alias l='eza --icons -l --group-directories-first'
alias ll='eza --icons -la --group-directories-first'
alias lt='eza --icons -l --tree -L 3 --group-directories-first'

alias gst='git status'

set -gx EDITOR "nvim"


# =========================
#   Work-Mac Specific Block
# =========================
{{ if eq .chezmoi.hostname "COMP-G4THKNYXXN" }}

    alias k='kubectl'
    alias lg='lazygit'
    alias yz='yazi'
    alias gzl='bzl run //:gazelle --'
    alias snp='bzl run //:snapshot --'
    alias dds='cd ~/dd/dd-source/'
    alias dd='cd ~/dd/'

    # BEGIN SCFW MANAGED BLOCK
    alias npm="scfw run npm"
    alias pip="scfw run pip"
    alias poetry="scfw run poetry"
    set -gx SCFW_DD_AGENT_LOG_PORT "10365"
    set -gx SCFW_DD_LOG_LEVEL "ALLOW"
    set -gx SCFW_HOME "/Users/idriss.mortadi/.scfw"
    # END SCFW MANAGED BLOCK

    # BEGIN ANSIBLE MANAGED BLOCK

    # Load Homebrew
    /opt/homebrew/bin/brew shellenv | source

    # Homebrew secure defaults
    set -gx HOMEBREW_NO_INSECURE_REDIRECT 1
    set -gx HOMEBREW_CASK_OPTS --require-sha
    set -gx HOMEBREW_DIR /opt/homebrew
    set -gx HOMEBREW_BIN /opt/homebrew/bin

    # Python & Ruby shims
    pyenv init - | source
    rbenv init - | source

    # Personal Paths
    set -gx PATH $HOME/.local/bin $PATH
    
    # GNU coreutils first
    set -gx PATH /opt/homebrew/opt/coreutils/libexec/gnubin $PATH

    # Datadog devtools
    set -gx PATH $HOME/dd/devtools/bin $PATH

    # Go paths
    set -gx GOPATH $HOME/go
    set -gx GOPLSCACHE $HOME/.cache/gopls
    set -gx PATH $GOPATH/bin $PATH

    # Datadog development env
    set -gx DATADOG_ROOT $HOME/dd
    set -gx MOUNT_ALL_GO_SRC 1

    # AWS
    set -gx AWS_VAULT_KEYCHAIN_NAME login
    set -gx AWS_SESSION_TTL 24h
    set -gx AWS_ASSUME_ROLE_TTL 1h

    # Helm
    set -gx HELM_DRIVER configmap

    # Go module settings
    set -gx GO111MODULE auto
    set -gx GOPRIVATE github.com/DataDog
    set -gx GOPROXY binaries.ddbuild.io,https://proxy.golang.org,direct
    set -gx GONOSUMDB github.com/DataDog,go.ddbuild.io

    # END ANSIBLE MANAGED BLOCK

    # GitLab token
    set -gx GITLAB_TOKEN (security find-generic-password -a $USER -s gitlab_token -w)

    # gitsign include
    if test -f ~/.config/gitsign/include.sh
        bash ~/.config/gitsign/include.sh
    end

{{ end }}


# =========================
#   Machine-Agnostic PATH
# =========================
set -gx PATH /home/ids/.cargo/bin $PATH

# =========================
#   Init tools
# =========================
zoxide init fish | source
starship init fish | source
