"$schema" = 'https://starship.rs/config-schema.json'

[character]
disabled = false

[container]
disabled = true
[directory]
disabled = false
[git_branch]
disabled = true
[git_commit]
disabled = true
[git_state]
disabled = true
[git_status]
disabled = true
[git_metrics]
disabled = true
[hostname]
disabled = true
[jobs]
disabled = true
[localip]
disabled = true
[memory_usage]
disabled = true
[nodejs]
disabled = true
[package]
disabled = true
[python]
disabled = true
[cmd_duration]
disabled = true
[username]
disabled = true
[rust]
disabled = true
[golang]
disabled = true
[aws]
disabled = true
[gcloud]
disabled = true
